# Binance Balance

In [659]:
import pandas as pd
pd.set_option('display.max_columns', 50)

In [660]:
df_trades = pd.read_csv('trades.csv',delimiter='	')
df_trades['total']=df_trades['total']*df_trades['l/s']
df_trades_sum=df_trades[['symbol','amount','total']].groupby(by='symbol').sum()

In [661]:
from crypto_trading.clients import BinanceClient

binance = BinanceClient()
binance.con_trading_login()
binance.fetch_balance()

invest = 307.6

In [685]:
binance.rms(binance.positions,invest)
df_merged=pd.merge(binance.df_risk_exp,df_trades_sum,on='symbol',how='left')
df_merged['PNL']=df_merged.mv-df_merged.total
df_merged['avg_price']=df_merged.total/df_merged.amount

df_merged[['symbol','delta','last','avg_price','total','mv','PNL','previousClose','percentage','24hrsPNL']]

GMV: 2,166.34
NMV: 124.80
Total PNL: -34.23
24hrs PNL: 1.8712343742980266

Total Balance: 1,294.14
Total Liability: -1,020.77
Net Liq: 273.37
ML: 1.27
Interest: 1.4969388649520001

,symbol,delta,last,avg_price,total,mv,PNL,previousClose,percentage,24hrsPNL
0,BTC,-0.005985,66757.7500,-65391.460000,-391.040931,-399.545801,-8.504871,65814.1200,1.434,-5.647635
1,ARB,-252.147755,1.1978,-1.170699,-294.899030,-302.022581,-7.123551,1.2016,-0.266,0.958161
2,SOL,-2.004017,159.2800,-171.080000,-342.160000,-319.199858,22.960142,152.6100,4.377,-13.366795
3,ETH,0.325474,3236.8000,3327.003978,1083.937896,1053.494891,-30.443005,3176.5500,1.897,19.609821
4,LINK,5.994000,15.3610,17.010000,102.060000,92.073834,-9.986166,15.3080,0.359,0.317682

In [663]:
df_merged['PNL'].sum()

-33.67530486553903

In [664]:
binance.df_risk_exp

,symbol,free,locked,borrowed,interest,delta,last,previousClose,percentage,mv,24hrsPNL
0,BTC,0.000000,0,0.005980,0.000005,-0.005985,66140.0000,66103.2900,0.056,-395.848561,-0.219710
1,ARB,0.000000,0,251.930499,0.217255,-252.147755,1.1809,1.2147,-2.775,-297.761284,8.522594
2,SOL,0.000000,0,2.000012,0.004005,-2.004017,154.5500,154.2100,0.227,-309.720857,-0.681366
3,ETH,0.325474,0,0.000000,0.000000,0.325474,3182.8300,3202.6000,-0.618,1035.929048,-6.434625
4,LINK,5.994000,0,0.000000,0.000000,5.994000,15.2860,15.3660,-0.521,91.624284,-0.479520

In [665]:
binance.df_cash

  symbol        free  locked   borrowed  interest       delta
4   USDT  192.427212       0  43.595937  0.264371  148.566903

In [666]:
# binance.con.fetch_ticker('ARB/USDT')

In [667]:


# import ccxt  # noqa: E402

# apiKey=
# secret=
# exchange = ccxt.binance({
#     'apiKey': apiKey,
#     'secret': secret,
#     'options': {
#         'defaultType': 'margin'
#     }
# })




# # exchange.verbose = True  # uncomment for debugging

# symbol = 'ETH/USDT'

# trades = exchange.fetch_my_trades (symbol)
# trades

# while start_time < now:

#     print('------------------------------------------------------------------')
#     print('Fetching trades from', exchange.iso8601(start_time))
#     end_time = start_time + day

#     trades = exchange.fetch_my_trades (symbol, start_time, None, {
#         'endTime': end_time,
#     })
#     if len(trades):
#         last_trade = trades[len(trades) - 1]
#         start_time = last_trade['timestamp'] + 1
#         all_trades = all_trades + trades
#     else:
#         start_time = end_time

# print('Fetched', len(all_trades), 'trades')
# for i in range(0, len(all_trades)):
#     trade = all_trades[i]
#     print (i, trade['id'], trade['datetime'], trade['amount'])