# Binance Balance

In [170]:
import pandas as pd
pd.set_option('display.max_columns', 50)

In [171]:
# Get trade history
df_trades = pd.read_csv('trades.csv',delimiter='	')
df_trades['total']=df_trades['total']*df_trades['l/s']
df_trades['amount']=df_trades['amount']*df_trades['l/s']
df_trades_sum=df_trades[['symbol','amount','total']].groupby(by='symbol').sum().reset_index()

In [172]:
# Connect to Binance Client and Fetch Balance
from crypto_trading.clients import BinanceClient

binance = BinanceClient()
binance.con_trading_login()
binance.fetch_balance()

invest = 307.6

In [173]:
# refresh price and show current PNL
binance.rms(binance.positions,invest)
df_merged=pd.merge(binance.df_risk_exp,df_trades_sum,on='symbol',how='left')
df_merged['PNL']=df_merged.mv-df_merged.total
df_merged['avg_price']=df_merged.total/df_merged.amount
df_merged['dd']=(df_merged.PNL/df_merged.total.abs()).clip(lower=-0.2,upper=0)*100

df_merged[['symbol','delta','last','avg_price','total','mv','PNL','dd','previousClose','percentage','24hrsPNL']]

GMV: 2,877.40
NMV: 798.36
Total PNL: 84.09
24hrs PNL: -19.703361424866134

Total Balance: 1,837.88
Total Liability: -1,446.19
Net Liq: 391.69
ML: 1.27
Interest: 3.8743036100249997

,symbol,delta,last,avg_price,total,mv,PNL,dd,previousClose,percentage,24hrsPNL
0,BTC,-0.005992,67885.0900,65391.460000,-391.040931,-406.798686,-15.757756,-4.029695,67965.4700,-0.119,0.481674
1,ARB,-252.742223,1.1663,1.170699,-294.899030,-294.773255,0.125775,0.000000,1.1935,-2.271,6.874588
2,SOL,-2.011216,168.0300,171.080000,-342.160000,-337.944574,4.215426,0.000000,171.8700,-2.240,7.723068
3,ETH,0.466233,3716.8700,3295.853831,1183.870696,1732.928566,549.057870,0.000000,3807.8800,-2.392,-42.431893
4,LINK,5.994000,17.3760,17.010000,102.060000,104.151744,2.091744,0.000000,16.0950,7.912,7.678314
5,OP,0.313048,2.5520,80.171779,54.516810,0.798899,-53.717911,-20.000000,2.6450,-3.553,-0.029113

In [174]:
binance.df_risk_exp

,symbol,free,locked,borrowed,interest,delta,last,previousClose,percentage,mv,24hrsPNL
0,BTC,0.000000,0,0.005980,0.000012,-0.005992,67885.0900,67965.4700,-0.119,-406.798686,0.481674
1,ARB,0.000000,0,251.930499,0.811724,-252.742223,1.1663,1.1935,-2.271,-294.773255,6.874588
2,SOL,0.000000,0,2.000012,0.011203,-2.011216,168.0300,171.8700,-2.240,-337.944574,7.723068
3,ETH,0.466233,0,0.000000,0.000000,0.466233,3716.8700,3807.8800,-2.392,1732.928566,-42.431893
4,LINK,5.994000,0,0.000000,0.000000,5.994000,17.3760,16.0950,7.912,104.151744,7.678314
5,OP,0.313048,0,0.000000,0.000000,0.313048,2.5520,2.6450,-3.553,0.798899,-0.029113

In [175]:
binance.df_cash

  symbol     free  locked    borrowed  interest       delta
4   USDT  199.365       0  605.836176  0.199251 -406.670427

In [176]:
import datetime
datetime.datetime.now().isoformat()



# import ccxt  # noqa: E402

# exchange = ccxt.binance({
#     'apiKey': apiKey,
#     'secret': secret,
#     'options': {
#         'defaultType': 'margin'
#     }
# })




# exchange.verbose = True  # uncomment for debugging

# symbol = 'ETH/BTC'

# trades = exchange.fetch_my_trades (symbol)
# trades

# while start_time < now:

#     print('------------------------------------------------------------------')
#     print('Fetching trades from', exchange.iso8601(start_time))
#     end_time = start_time + day

#     trades = exchange.fetch_my_trades (symbol, start_time, None, {
#         'endTime': end_time,
#     })
#     if len(trades):
#         last_trade = trades[len(trades) - 1]
#         start_time = last_trade['timestamp'] + 1
#         all_trades = all_trades + trades
#     else:
#         start_time = end_time

# print('Fetched', len(all_trades), 'trades')
# for i in range(0, len(all_trades)):
#     trade = all_trades[i]
#     print (i, trade['id'], trade['datetime'], trade['amount'])

'2024-05-24T10:36:23.148722'

In [177]:
trades

NameError: name 'trades' is not defined