# Binance Balance

In [1]:
import pandas as pd
pd.set_option('display.max_columns', 50)

In [2]:
from crypto_trading.clients import BinanceClient

binance = BinanceClient()
binance.con_trading_login()
binance.fetch_balance()

invest = 307.6

Python-dotenv could not parse statement starting at line 3

In [3]:
binance.rms(binance.positions,invest)
binance.df_risk_exp[['symbol','delta','last','previousClose','percentage','mv','24hrsPNL']]

GMV: 1,793.72
NMV: 17.52
Total PNL: 11.54
24hrs PNL: 4.056350050820072

Total Balance: 1,207.24
Total Liability: -888.10
Net Liq: 319.14
ML: 1.36
Interest: 0.4632263583149999

,symbol,delta,last,previousClose,percentage,mv,24hrsPNL
0,BTC,-0.005982,69393.2600,69878.8200,-0.695,-415.137545,2.904809
1,ARB,-100.014427,1.3741,1.4249,-3.572,-137.429824,5.080733
2,SOL,-2.000934,167.6900,172.5700,-2.817,-335.536570,9.764556
3,ETH,0.262937,3444.2500,3496.3300,-1.489,905.620073,-13.693749

In [4]:
binance.df_risk_exp

,symbol,free,locked,borrowed,interest,delta,last,previousClose,percentage,mv,24hrsPNL
0,BTC,0.000000,0.0,0.005980,0.000002,-0.005982,69393.2600,69878.8200,-0.695,-415.137545,2.904809
1,ARB,0.000000,0.0,100.000000,0.014427,-100.014427,1.3741,1.4249,-3.572,-137.429824,5.080733
2,SOL,0.000000,0.0,2.000012,0.000921,-2.000934,167.6900,172.5700,-2.817,-335.536570,9.764556
3,ETH,0.262937,0.0,0.000000,0.000000,0.262937,3444.2500,3496.3300,-1.489,905.620073,-13.693749

In [5]:
binance.df_cash

  symbol        free  locked   borrowed  interest      delta
4   USDT  243.282208  102.06  43.595937  0.123061  301.62321

In [6]:
# binance.con.fetch_ticker('ARB/USDT')