# Binance Balance

In [7]:
import pandas as pd
pd.set_option('display.max_columns', 10)

In [8]:
from crypto_trading.clients import BinanceClient

binance = BinanceClient()
binance.con_trading_login()
binance.fetch_balance()

In [9]:
# positions = [
#     {'symbol':'ETH', 'delta': 0.2629368},
#     {'symbol':'BTC', 'delta': -0.00598166},
#     {'symbol':'SOL', 'delta': -2.0000124},
#     {'symbol':'USDT', 'delta': 199.4882},
#     {'symbol':'USDT', 'delta': -43.5959}

# ]
invest = 308
binance.rms(binance.positions,invest)

GMV: 1,845.68
NMV: 18.80

Total Balance: 1,233.91
Total Liability: -913.44
Net Liq: 320.47
PNL: 12.47
ML: 1.35

In [10]:
binance.df_risk_exp

,symbol,free,locked,borrowed,interest,delta,price,mv
0,BTC,0,0,0.00598,0.00000202,-0.005982,70773.2900,-423.367236
1,ARB,0,0,100,0.00225004,-100.002250,1.4583,-145.833281
2,SOL,0,0,2.0000124,0.00046315,-2.000476,172.0800,-344.241833
3,ETH,0.2629368,0,0,0,0.262937,3545.5000,932.242424

In [11]:
binance.df_cash

,symbol,free,locked,borrowed,interest,delta,price,mv
4,USDT,345.34220787,0,43.59593705,0.07677488,301.669496,1.0,301.669496

In [12]:
(binance.df_risk_exp.price * binance.df_risk_exp.interest.astype(float)).sum() + binance.df_cash.interest.astype(float).sum()

0.302717011132