# Binance Balance

In [46]:
import pandas as pd
pd.set_option('display.max_columns', 50)

In [47]:
# Get trade history
df_trades = pd.read_csv('trades.csv',delimiter='	')
df_trades['total']=df_trades['total']*df_trades['l/s']
df_trades['amount']=df_trades['amount']*df_trades['l/s']
df_trades_sum=df_trades[['symbol','amount','total']].groupby(by='symbol').sum().reset_index()

In [48]:
# Connect to Binance Client and Fetch Balance
from crypto_trading.clients import BinanceClient

binance = BinanceClient()
binance.con_trading_login()
binance.fetch_balance()

invest = 307.6

In [54]:
# refresh price and show current PNL
binance.rms(binance.positions,invest)
df_merged=pd.merge(binance.df_risk_exp,df_trades_sum,on='symbol',how='left')
df_merged['PNL']=df_merged.mv-df_merged.total
df_merged['avg_price']=df_merged.total/df_merged.amount

df_merged[['symbol','delta','last','avg_price','total','mv','PNL','previousClose','percentage','24hrsPNL']]

GMV: 2,333.73
NMV: -16.64
Total PNL: 24.40
24hrs PNL: -30.818739795800255

Total Balance: 1,507.19
Total Liability: -1,175.19
Net Liq: 332.00
ML: 1.28
Interest: 1.900471931618

,symbol,delta,last,avg_price,total,mv,PNL,previousClose,percentage,24hrsPNL
0,BTC,-0.005987,60610.2100,65391.460000,-391.040931,-362.860599,28.180332,63992.510,-5.285,20.249120
1,ARB,-252.303072,1.0236,1.170699,-294.899030,-258.257425,36.641605,1.064,-3.815,10.193044
2,SOL,-2.005917,126.8900,171.080000,-342.160000,-254.530854,87.629146,138.260,-8.230,22.807280
3,ETH,0.358841,3009.4500,3295.853831,1183.870696,1079.913446,-103.957250,3228.530,-6.786,-78.614842
4,LINK,5.994000,13.1190,17.010000,102.060000,78.635286,-23.424714,14.168,-7.404,-6.287706
5,OP,-119.194906,2.5130,2.520493,-300.392400,-299.536798,0.855602,2.520,-0.238,0.834364

In [50]:
binance.df_risk_exp

,symbol,free,locked,borrowed,interest,delta,last,previousClose,percentage,mv,24hrsPNL
0,BTC,0.000000,0.0,0.005980,0.000007,-0.005987,60596.220,64038.2600,-5.375,-362.776844,20.606771
1,ARB,0.000000,0.0,251.930499,0.372573,-252.303072,1.023,1.0655,-4.034,-258.106043,10.722881
2,SOL,0.000000,0.0,2.000012,0.005905,-2.005917,126.870,138.2800,-8.258,-254.490735,22.887517
3,ETH,0.358841,0.0,0.000000,0.000000,0.358841,3009.400,3233.2000,-6.922,1079.895504,-80.308571
4,LINK,5.994000,0.0,0.000000,0.000000,5.994000,13.120,14.1680,-7.403,78.641280,-6.281712
5,OP,0.000000,0.0,119.191850,0.003056,-119.194906,2.508,2.5160,-0.358,-298.940824,0.953559

In [51]:
binance.df_cash

  symbol        free  locked   borrowed  interest       delta
4   USDT  193.146419  199.44  43.595937  0.350604  348.639878

In [52]:


# import ccxt  # noqa: E402

# exchange = ccxt.binance({
#     'apiKey': apiKey,
#     'secret': secret,
#     'options': {
#         'defaultType': 'margin'
#     }
# })




# exchange.verbose = True  # uncomment for debugging

# symbol = 'ETH/BTC'

# trades = exchange.fetch_my_trades (symbol)
# trades

# while start_time < now:

#     print('------------------------------------------------------------------')
#     print('Fetching trades from', exchange.iso8601(start_time))
#     end_time = start_time + day

#     trades = exchange.fetch_my_trades (symbol, start_time, None, {
#         'endTime': end_time,
#     })
#     if len(trades):
#         last_trade = trades[len(trades) - 1]
#         start_time = last_trade['timestamp'] + 1
#         all_trades = all_trades + trades
#     else:
#         start_time = end_time

# print('Fetched', len(all_trades), 'trades')
# for i in range(0, len(all_trades)):
#     trade = all_trades[i]
#     print (i, trade['id'], trade['datetime'], trade['amount'])

In [53]:
trades

NameError: name 'trades' is not defined